* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

/* main container */
.main-page-listings {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 700px;
}

/*
	MAIN PAGE	
*/
.main-cats-container {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

/* main header */
.location-header {
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	background: #eee;
	text-align: center;
	font-size: 2em;
}

/* header category */
.main-cat {
	padding: 7px;
	color: blue;
	background: #eee;
	font-size: 18px;
	width: 300px;
}

/* (sub-category) */
.sub-cat {
	padding: 7px;
	color: blue;
	width: 120px;
}

.single-listing {
	width: 500px;
	margin: 0 auto;
	padding: 7px;

}

/* Thumbnail View */
.thumbnail-view-container {
	width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.viewing-menu {
	background: #eee;
	padding: 10px;
	margin-bottom: 20px;
}

.viewing-menu > * {
	margin-right: 20px;
}

.thumbnail-image {
	margin-bottom: 30px;
}