* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}
.main-cat {
	padding: 5px;
	color: blue;
	background: #eee;
	font-size: 18px;
}
